---
layout: default
---

<div class="home">
  <div>
    <img style="float: right; margin: -15px 0px 0px 0px;"
     src="/assets/profile.jpg"
      height="150px" width="150px" />
  </div>
  <div style="height:150px;">
    <ul class="social-media-list">
      <li>
        {% include icon-gmail.html %}
      </li>
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>
  </div>
  <h2>Technical Skills</h2>
  <hr /><br />
  <ul class="post-list">
    <li>
      <strong>Most Proficient</strong><br />
      <p>Ruby, Ruby on Rails, Postgresql, Heroku, Javascript, HTML</p>
    </li>
    <li>
      <strong>Programming Langauges</strong><br />
      Ruby, PERL, PHP, C/C++, C#/NET, Objective C, Smalltalk, Swift,
      Java, Javascript, Unix/Bash Scripting, VBscript
    </li>
    <li>
      <strong>Frameworks</strong><br />
      Ruby on Rails, AJAX, react.js, jQuery, wordpress
    </li>
    <li>
      <strong>Database/Storage Engines</strong><br />
      Postgresql, MySQL, SQLite, Redis, Amazon Webservices
    </li>
    <li>
      <strong>Human Languages</strong><br />
      English - Native Speaker
      Japanese - Fluent in speaking, reading and writing. Completed immersive
      Japanese language program at Stanford University's Inter-University Center,
      Yokohama.
    </li>
  </ul>
  <h2>Experience</h2>
  <hr /><br />
  <ul class="post-list">
    <li>
      <strong>Senior Web Architect, Booktrope, Los Angeles, California</strong>
      <div class="work-dates">September 2013 - May 2016</div>
      <div class="work-description">
        <strong>Price Changer</strong>
        <p>
          Automated the laborious process of changing book prices across all
          sales platforms, Amazon, iBooks, Nookpress and GooglePlay. Built a queue
          based on parse.com which the price changer used to determine which books
          to change and when. Built a user facing tool that allowed for scheduling
          price changes of their books to coincide with sales promotions. It
          accounts for Amazon's strict rules that their price be the lowest and
          would wait to raise the price on Amazon until the price had been confirmed
          raised on all other platforms. Built an iPhone app for the management
          team to track the queue and to see which books were scheduled for
          price promotion. Throughout the life of the price changer it has
          succesfully performed 8,600 price change operations.
        </p>
        <strong>Sales Tracking</strong>
        <p>
          Auotmated sales tracking across all online sales partners. Saved the data
          in a parse.com table and made the data available to the users in the form
          of various bar charts so they can track their daily sales.
        </p>
        <strong>Stats Tracking</strong>
        <p>
          Created tools to hourly track various meta data for all published books
          across all sales channels such as current price, number of reviews,
          average star rating, and sales ranking. This information proved vital
          to the marketing team to determine which books should be used in
          promotions. The hourly price and sales ranking were made available to
          users via a chart so they could track their sales ranking throughout
          the day.
        </p>
        <strong>Hellosign</strong>
        <p>
          Saved the company thousands of dollars by automating the contract signing
          process. Using the Hellosign api, when a user joins a project, they
          are automatically sent a digital contract which they must sign in order
          to begin working on the project. Built flexibly so if a new contract
          type was required to be signed, it would only require booktrope staff
          to create a new contract type via the UI. To date the system has served
          3456 signing requests resulting in many hours saved of manual work.
        </p>
        <strong>Teamtrope</strong>
        <p>
          Internal workflow app to collect work product of creative teams. Included
          a parallel workflow mechanism to allow the author to collaborate with
          proofreaders and editors while working with the cover designer and
          marketing manager to design the cover of the book.
        </p>
        <p>
          Included many tools to help the team track the sales and ranking of their
          books as well as schedule price change promotions and much more. The
          workflow system was used to publish over 970 books.
        </p>
        <p>
          The app was built on rails and hosted on heroku. The html was based on
          twitter's bootstrap framework and relied on a variety of industry standard
          gems such as, devise, omniauth, rescue, friendly_id, wisper, and paperclip.
          Assets are hosted on amazon s3.
        </p>
      </div>
    </li>
    <li>
      <strong>Japanese-English Dictionary Manager, CrossLanguage, Tokyo, Japan</strong>
      <div class="work-dates">October 2012 - June 2013</div>
      <div class="work-description">
        <strong>Text Alignment</strong>
        <p>
          Built a text alignment tool that uses statistical and dictionary matches
          to analyze Japanese and English text and determine which Japanese
          sentence correpsonds to which English Sentence as well as which words
          are translations of each other. The tool was able to determine within
          a high degree of accuracy which words were translations even if they
          didn't exist in its dictionary.
        </p>
        <strong>Japanese Patent Office</strong>
        <p>
          Worked with the Japanese patent office to provide machine translations
          of thousands of Japanese and Chinese patent applications into English.
          The provided data was over 500GBs of text and images. Built perl and
          bash scripts to extract the data from XML and SGML files, normalize it,
          determine if eligible for translation, and send it to the translation
          pipeline. Addressed edge conditions and built regression tests for
          SGML documents that didn't follow specifications. Wrote a script to
          bundle the translated data with its corresponding images and burn the
          data to DVDs.
        </p>
      </div>
    </li>
    <li>
      <strong>Japanese-English Dictionary Intern, CrossLanguage, Tokyo, Japan</strong>
      <div class="work-dates">July 2012 - September 2012</div>
      <p>
        Hired as an intern on a fast track to become a full time employee.
        Added 3,000 technical words to the English translation dictionary that
        the translation engine uses to translate Japanese into English. Was
        given two weeks to develop a spider in perl that crawled Wikipedia's
        artisans index page and harvested data from the English, Korean,
        Cantonese and Mandarin pages of each artisan. Learned how to write
        regular expressions that matched Hiragana, Katakana, Kanji, and Hangul.
        Completed the project in a day and a half.
      </p>
    </li>
    <li>
      <strong>Senior Developer, CrownPeak, Engineering, Culver City, California</strong>
      <div class="work-dates">March 2009 - August 2011</div>
      <div class="work-description">
        <strong>C# API Implementation</strong>
        <p>
          Tasked with building a new API in C# for the CMS, built a tool to
          analyze the frequency of use of API functions to determine which APIs
          were used most and which ones were used at all. This data was used
          to determine what to implement first and what not to bring over.
        </p>
        <p>
          Provided insight to the team on how the professional services was
          using the old VBScript API to implement CMS integrations which
          proved vital to building not just an API in a different language but
          addressing many of the previous API's flaws as well as making it easier
          to use.
        </p>
        <p>
          Worked with the professional services team to implement a new client
          CMS implementation using the new C# API to ensure that the new technology
          was suited for wide release and adoption as the de facto API for all
          new projects.
        </p>
        <p>
          Automated the process of documenting the source code to automatically
          generate api documentation. Used Sandcastle to turn the documentation
          into a online manpage.
        </p>
        <strong>Google Web Site Optimizer</strong>
        <p>
          Collaborated with Google to implement Google Website Optimizer into
          the CMS core. This allowed clients to easily create A/B and
          Multivariate testing.
        </p>
      </div>
    </li>
    <li>
      <strong>Web Application Engineer, CrownPeak, Culver City, California</strong>
      <div class="work-dates">September 2006 - February 2009</div>
      <div class="work-description">
        <strong>Client Consulting and Implementation</strong>
        <p>
          Used the CrownPeak proprietary API to integrate clients websites into
          the CMS. Consulted with clients about SEO, and front-end features for
          their sites.
        </p>
        <strong>AJAX Calendar</strong>
        <p>
          Built an AJAX events calendar for a client that became the de facto
          calendaring system for all clients. The calendar is still in use today
          by many of CrownPeak's clients.
        </p>
        <strong>API Documention</strong>
        <p>
          Maintained the API Documentation after being bothered that many of the
          functions that were used daily by CrownPeak developers were not
          documented anywhere. Collaborated with Engineering to ensure that
          APIs that weren't meant to be used by professional services were not
          documented and marked for removal from the API.
        </p>
        <strong>Mentor</strong>
        <p>
          Mentored new developers and trained them to use the CrownPeak API through
          Pair-programming and general issue triage.
        </p>
      </div>
    </li>
  </ul>

  <h2>Education</h2>
  <hr /><br />
  <ul class="post-list">
    <li>
      <strong>Inter-University Center Yokohama of Stanford University</strong>
      <div class="work-dates">September 2011 - June 2012</div>
      <div>
        Certificate of Completion of Intensive Japanese Language Program
      </div>
    </li>
    <li>
      <strong>California State University, Northridge</strong>
      <div class="work-dates">September 2001 - June 2006</div>
      <div>
        Bachelor's Degree of Computer Science with honors
      </div>
    </li>
  </ul>

  <h2>Accolades</h2>
  <hr /><br />
  <ul class="post-list">
    <li>
      <strong>
        <a target="_blank"
        href="http://www.kanken.or.jp/kanken/outline/degree.html#c3qHead">
          Kanken Level 3 (Japanese Kanji Proficiency Test)

        </a> - November 2016
      </strong>
      <p>
        Junior High School Graduate Level Knowledge of Kanji including 1,607
        characters. Only has a 44.5% pass rate among native Japanese test takers.
      </p>
    </li>
  </ul>

  <h2>Side Projects</h2>
  <hr /><br />
  <ul class="post-list">
    <li>
      <strong>Little Tokyo Kaiwa Club, Co-founder and Organizer</strong>
      <div class="work-dates">
        March 2016 - Present
      </div><br />
      <div class="media-image">
        <img src="/assets/kaiwa_club_flyer.png" height="100px" width="100px" />
      </div>
      <div>
        <p>
          Co-founded a Japanese and English language exchange group.

          Built a <a target="_blank"
          href='https://kaiwa-club.herokuapp.com/admin/meetups/2016-08-15'>
          rails app</a> to track attendence, and visualize the weekly ratio of
          Native Japanese and Non-native Japanese speakers. Create marketing
          material and adjust tactics based on the weekly ratio in order to
          preserve a near 1:1 ratio of Native Japanese to Non-native Japanese
          speakers.
        </p>
        <p>
          Create English and Japanese lesson plans. Lead the meetup group and Introduce
          the Japanese and English lesson plan at the start of each meetup.
          Break attendees into groups based on the ratio of native Japanese and
          non-native Japanese speakers.
        </p>
        <p>
          Created a LINE group to keep members up to date on the latest info
          regarding the group. Upload the weekly lesson plan to LINE notes.
          Address grammar questions regarding Japanese and English rasied in
          the LINE group.
        </p>
      </div>
    </li>
    <li>
      <strong>Ad-Poster</strong> (<a target="target"
      href="https://github.com/SleepyDeveloper/ad_poster">see on github</a>)
      <p>
        I manage posting advertisments to a third party site for two Japanese
        meetup groups in the Los Angeles area where the information in the
        advertisment is pretty much always the same except for the date when the
        meetup will take place, so I created a tool that automates posting the
        ads.
      </p>
      <p>
        Used <strong>Selenium</strong> and <strong>Watir</strong> to login
        automatically and post an adverstisement for Kaiwa Club. The contents of
        the ad are defined by a <strong>JSON</strong> file. The <code>account_name:</code>
        field determines which credential shim is loaded via <strong>dotenv</strong>.
        The path to the <strong>shim</strong> is also set in the environment
        variables.
      </p>
    </li>
    <li>
      <strong>JMDict</strong> (<a target="_blank"
      href="https://github.com/SleepyDeveloper/jmdict">see on github</a>)
      <p>
        Created a ruby gem to handle the
        <a href="http://www.edrdg.org/jmdict/j_jmdict.html"
        target="_blank">JMDict Project</a>
        files. The full JMDict XML file is too big for Nokogiri to load in a
        reasonable amount of time. The Gem features a tool for splitting the XML
        file into files with 1000 entries. The gem can also convert the XML file
        into JSON and Objects that represent the various JMDict Objects.
      </p>
    </li>
    <li>
      <strong>Glossary</strong> (not yet released to github)
      <p>
        A rails app with a model based on the <a target="_blank"
        href="http://www.edrdg.org/jmdict/j_jmdict.html">JMDict Project</a>. The
        underlying database engine is Postgresql.
      </p>
      <p>
        A set of ruby scripts that directly connect to the glossary app's
        database to look up lists of words and create TSV files for an iOS
        flashcards app that I use to study for the <a target="_blank"
        href="http://www.kanken.or.jp/kanken/outline/degree.html">Kanken</a>
        (Japanese Webpage).
      </p>
    </li>
  </ul>

  <h2>References</h2>
  <hr /><br />
  <p>
    Email addresses have been obfuscated to prevent email harvesters from wreaking
    havoc.
  </p>
  <ul class="post-list">
    <li>
      <h3>Booktrope</h3>
      <strong>Andy Roberts</strong>
      <div class="work-dates">andy@note15(dot)com</div>
    </li>
    <li>
      <h3>Little Tokyo Kaiwa Club</h3>
      <strong>Ryo Takei</strong>
      <div class="work-dates">ryo@opodz(dot)com</div>
    </li>
    <li>
      <h3>California State University, Northridge</h3>
      <strong>Jeff Wiegley, PhD</strong>
      <div class="work-dates">jeffw@csun(dot)edu</div>
    </li>
  </ul>
</div>
