<div>
  <img style="" src="/assets/profile.jpg" height="150px" width="150px" />
</div>

<div class="work-dates" style="position:absolute; top: 88px; left: 65%;" >
  <p>
    {% include icon-gmail.html %}
  </p>
  <p>
    {% include icon-x.html %} <a target="_blank"
      href="https://x.com/sleepydeveloper">sleepydeveloper</a>
      
  </p>  
  <p>
     {% include icon-linkedin.html %} 
  </p>
  <p>
    {% include icon-pdf.html %}
    <a target="_blank" href="/assets/justin-jeffress-resume.pdf">Download Resume</a>
  </p>
</div>
<a href="/ja-JP/resume.html" >🇯🇵日本語はこちら</a><br />
