<h2>Side Projects</h2>
<hr /><br />

<ul class="post-list">
  <li>
    <strong><a href="https://www.meetup.com/LittleTokyoKaiwaClub/"
      target="_blank">
      Little Tokyo Kaiwa Club</a>, Co-founder and Organizer</strong>
    <div class="work-dates">
      March 2016 - Present
    </div><br />
    <div class="media-image">
      <img src="/assets/kaiwa_club_flyer.png" height="100px" width="100px" />
    </div>
    <div>
      <p>
        Co-founded a Japanese and English language exchange group.

        Built a <a target="_blank"
        href='https://kaiwa-club.herokuapp.com/admin/meetups/2016-08-15'>
        rails app</a> to track attendence, and visualize the weekly ratio of
        Native Japanese and Non-native Japanese speakers. Create marketing
        material and adjust tactics based on the weekly ratio in order to
        preserve a near 1:1 ratio of Native Japanese to Non-native Japanese
        speakers.
      </p>
      <p>
        Create English and Japanese lesson plans. Lead the meetup group and Introduce
        the Japanese and English lesson plan at the start of each meetup.
        Break attendees into groups based on the ratio of native Japanese and
        non-native Japanese speakers.
      </p>
      <p>
        Created a LINE group to keep members up to date on the latest info
        regarding the group. Upload the weekly lesson plan to LINE notes.
        Address grammar questions regarding Japanese and English rasied in
        the LINE group.
      </p>
    </div>
  </li>
  <li>
    <div class="side-project">
      <div class="heading">
        <strong>Ad-Poster</strong>
        (<a target="target"
          href="https://github.com/SleepyDeveloper/ad_poster">see on github</a>)
      </div>
      <hr />
      <div>
        <strong>Technology</strong>
        <div>
          Ruby, JSON, Selenium, Watir, Dotenv
        </div>
      </div>
      <div class="summary">
        <strong>Summary</strong>
        <div>
          Automatically posts advertisements for Kaiwa Club and other Japanese
          Meetup groups to a popular advertising site using Selenium and Watir.
          Ad content is configured via a json file. Adheres to 12-factor
          application principles by using dotenv to manage login credentials.
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="side-project">
      <div class="heading">
        <strong>JMDict</strong> (<a target="_blank"
        href="https://github.com/SleepyDeveloper/jmdict">see on github</a>)
      </div>
      <hr />
      <div>
        <strong>Technology</strong>
        <div>Ruby, XML, JSON, Nokogiri, Trollop</div>
      </div>
      <div class="summary">
        <strong>Summary</strong>
        <div>
          A ruby gem for processing the
          <a href="http://www.edrdg.org/jmdict/j_jmdict.html"
          target="_blank">JMDict Project</a> XML files. Splits the main XML file
          into smaller chunks and uses <b>Nokogiri</b> and <b>xpath</b> to convert
          the XML file into JSON and provides objects that represent the various
          JMDICT entities Word, Sense, Gloss, etc.
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="side-project">
      <div class="heading">
        <strong>Glossary</strong> (not yet released to github)
      </div>
      <hr />
      <div>
        <strong>Technology</strong>
        <div>
          Ruby, Ruby on Rails, Postgresql, Trollop
        </div>
      </div>
      <div class="summary">
        <strong>Summary</strong>
        <div>
          A rails app with a database based on the <a target="_blank"
            href="http://www.edrdg.org/jmdict/j_jmdict.html">JMDict Project</a>.
          Provides a gem with tools that automate looking up lists of vocabulary
          words for the
            <a target="_blank"
            href="http://www.kanken.or.jp/kanken/outline/degree.html">Kanken</a>.
          Generates TSV files to create flashcards for an iOS app that I use to
          study Kanji.
        </div>
      </div>
    </div>
  </li>
</ul>
