<h2>Experience</h2>
<hr /><br />
<ul class="post-list">
  {% for position in include.work_experience %}
  <li>
    <strong>{{ position.title }}, {{ position.company }}, {{ position.location }}</strong>
    <div class="work-dates">{{ position.duration }}</div>
    <div class="work-description">
      <ul>
        {% for description in position.description  %}
        <li>{{ description}}</li>
        {% endfor %}
      </ul>
      {% if position.technologies %}
      (<strong>{{ position.technologies }}</strong>)
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
